@use "func-mix";
@use "var";

// CARDS
.card {
	background-color: var.$lightgrey;
	display: flex;
	flex-direction: column;
	width: 100%;
	@include func-mix.comp-radius;
	overflow: hidden;
	@include func-mix.all-borders(true);
	@include func-mix.btn-shadow;
	@include func-mix.click-start;

	img {
		width: 100%;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		@include func-mix.one-border(true, bottom);
	}

	.caption {
		padding: 20px;
		h4 {
			margin-bottom: 0.75rem;
		}
	}

	&:active {
		@include func-mix.click-end;
		filter: brightness(75%);
		background-color: darken(var.$lightgrey, 25%);
	}
}

// BUTTONS
.btn {
	@include func-mix.all-borders(true);
	@include func-mix.btn-shadow;
	@include func-mix.comp-radius;
	padding: 16px 0;
	display: block;
	width: 240px;
	text-align: center;
	margin: auto;
	font-size: inherit;
	font-family: "Hack", monospace;

	@include func-mix.click-start;

	&:active {
		@include func-mix.click-end;
	}
}

// primary
.primary-blue {
	background-color: var.$blue;
	color: white;

	&:hover {
		background-color: darken(var.$blue, 12%);
	}

	&:active {
		background-color: darken(var.$blue, 25%);
	}
}

.primary-red {
	background-color: var.$red;
	color: white;

	&:hover {
		background-color: darken(var.$red, 12%);
	}

	&:active {
		background-color: darken(var.$red, 25%);
	}
}

// secondary
.secondary {
	background-color: var.$lightgrey;
	color: black;

	&:hover {
		background-color: darken(var.$lightgrey, 12%);
	}

	&:active {
		background-color: darken(var.$lightgrey, 25%);
	}
}

//icon
.icon {
	border: none;
	background: none;
	@include func-mix.comp-radius;
	display: flex;
	align-items: center;

	&:active {
		background-color: darken(var.$lightgrey, 25%);
	}
}
