@use "var";
@use "sass:math";

// MIXINS

@mixin one-border($light-bg, $side) {
	@if $light-bg {
		@if $side == bottom {
			border-bottom: 1px solid var.$darkgrey;
		} @else if $side == top {
			border-top: 1px solid var.$darkgrey;
		} @else if $side == left {
			border-left: 1px solid var.$darkgrey;
		} @else if $side == right {
			border-right: 1px solid var.$darkgrey;
		}
	} @else {
		@if $side == bottom {
			border-bottom: 1px solid var.$lightgrey;
		} @else if $side == top {
			border-top: 1px solid var.$lightgrey;
		} @else if $side == left {
			border-left: 1px solid var.$lightgrey;
		} @else if $side == right {
			border-right: 1px solid var.$lightgrey;
		}
	}
}

@mixin all-borders($light-bg) {
	@if $light-bg {
		border: 1px solid var.$darkgrey;
	} @else {
		border: 1px solid var.$lightgrey;
	}
}

@mixin btn-shadow {
	box-shadow: var.$darkgrey 8px 8px 0;
}

@mixin comp-radius {
	border-radius: 8px;
}

@mixin click-start {
	cursor: pointer;
	position: static;
	top: 0;
	left: 0;
	transition: 300ms ease-in-out;
}

@mixin click-end {
	box-shadow: none;
	transform: translate(8px, 8px);
}

// FUNCTIONS

@function text-colour($bg-colour) {
	@if (lightness($bg-colour) > 60) {
		@return black;
	} @else {
		@return white;
	}
}
