@use "var";
@use "reusable";

:root {
	font-family: "Hack", monospace;
	font-size: calc(13px + 0.390625vw);

	/* hide scrollbar */
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}

/* Reset default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var.$lightgrey;
	cursor: url(../img/cursors/cursor.svg), auto;
	scroll-behavior: smooth;
}

/* Text default styles */
p {
	font-size: 1rem;
	line-height: 1.4rem;
	letter-spacing: 0.025rem;
}

h1 {
	font-size: 3rem;
	letter-spacing: 0.025rem;
	font-weight: normal;
}

h2 {
	font-size: 2rem;
	letter-spacing: 0.36rem;
}

h3 {
	font-size: 2rem;
	letter-spacing: 0.36rem;
	font-weight: normal;
}

h4 {
	font-size: 1.25rem;
	letter-spacing: 0.025rem;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: url(../img/cursors/pointer.svg), pointer;
}

label {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.36rem;
}

input,
label,
textarea {
	cursor: url(../img/cursors/text.svg), text;
}
