@use "var";

:root {
	font-family: "Hack", monospace;
	font-size: calc(13px + 0.390625vw);
}

/* Reset default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var.$lightgrey;
}

/* Text default styles */
p {
	font-size: 1rem;
	line-height: 1.4rem;
	letter-spacing: 0.025rem;
}

h1 {
	font-size: 3rem;
	letter-spacing: 0.025rem;
	font-weight: normal;
}

h2 {
	font-size: 2rem;
	letter-spacing: 0.36rem;
}

h3 {
	font-size: 2rem;
	letter-spacing: 0.36rem;
	font-weight: normal;
}

h4 {
	font-size: 1.25rem;
	letter-spacing: 0.025rem;
}

a {
	text-decoration: none;
	color: inherit;
}
