@use "var";
@use "global-styles";
@use "components";
@use "reusable";
@use "sass:math";

.presentation {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: min-content;
	min-height: calc(100vh - 200px);
	width: 100%;
	border-bottom: 1px solid var.$darkgrey;

	.greetings,
	.about-me,
	.portrait {
		padding: 40px 2.5rem;
	}

	.about-me {
		border-top: 1px solid var.$darkgrey;
	}

	.hobbies {
		margin-top: -40px;
		height: 5rem;
		width: 100%;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.portrait img {
		max-width: 100%;
		height: 100%;
		object-fit: cover;
		border: 1px solid var.$darkgrey;
		border-radius: 2px;
		@include reusable.img-opacity;
	}
}

.work {
	background-color: var.$darkgrey;
	color: white;
	display: flex;
	flex-wrap: wrap;

	h2 {
		text-align: center;
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var.$blue;
		padding: 16px;
		border-bottom: 1px solid var.$lightgrey;
	}

	#graphic {
		background-color: var.$red;
	}

	.skills {
		padding: 40px 1.2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
		gap: 0.8rem;

		span {
			text-align: center;
			padding: 1rem 3.3rem;
			border: 1px solid var.$lightgrey;
			border-radius: 8px;
		}

		.software {
			border-color: var.$red;
		}
	}
}

.schools {
	min-height: 240px;
	background-color: var.$darkgrey;
	color: white;
	width: 100%;
	text-align: center;
	padding: 40px 1.2rem;

	h3 {
		margin-bottom: 32px;
	}

	.uni-logo {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 32px;

		img {
			height: 4rem;
			width: auto;
			max-width: 100%;
			object-fit: contain;
		}
	}
}

footer {
	border-top: 1px solid var.$lightgrey;
}

/* SMALL */
@media only screen and (max-width: 600px) {
	.presentation {
		display: block;

		figure {
			border-top: 1px solid var.$darkgrey;
		}
	}

	.portrait {
		aspect-ratio: 1 / 1;

		img {
			width: 100%;
			object-position: top;
		}
	}

	.skills {
		border-bottom: 1px solid var.$lightgrey;
	}
}

/* MEDIUM */
@media only screen and (min-width: 601px) and (max-width: 860px) {
	.greetings {
		grid-column: 1 / 6;
	}

	.about-me {
		grid-column: 1 / 9;
	}

	.portrait {
		grid-row: 1 / 2;
		grid-column: 6 / 9;
	}
}

/* FROM MEDIUM ON */
@media only screen and (min-width: 601px) {
	.about-me {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.portrait {
		border-left: 1px solid var.$darkgrey;
	}

	.work {
		min-height: fit-content;
		height: 100%;
		border-bottom: 1px solid var.$lightgrey;
		.role {
			width: 50%;
			min-height: 100%;
			&:last-of-type {
				border-left: 1px solid var.$lightgrey;
			}
		}
	}
}

/* LARGE */
@media only screen and (min-width: 861px) {
	.greetings,
	.about-me {
		grid-column: 1 / 6;
	}

	.portrait {
		grid-column: 6 / 9;
		grid-row: 1 / 3;
	}
}
