/* GLOBAL */
$lightgrey: #f0f5f5;
$red: #d91143;
$blue: #2fb6b2;
$darkgrey: #1c1719;

/* MIXINS */
@use "funct-mix";

:root {
	font-size: calc(15px + 0.390625vw);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Hack, monospace;
	background-color: $lightgrey;
	width: 100vw;
}

h1 {
	font-size: 3rem;
	font-weight: normal;
	text-align: center;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: 0.36rem;
}

h3 {
	font-size: 2rem;
	font-weight: normal;
	line-height: 1.4;
	letter-spacing: 0.36rem;
}

h4 {
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 0.36rem;
}

p {
	font-size: 1rem;
	letter-spacing: 0.05rem;
	line-height: 1.4;
}

a {
	text-decoration: none;
}

nav {
	/* @include one-side-border(true, bottom); */
	background-color: $lightgrey;
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
}

section {
	@include one-side-border(true, bottom);
	padding: 40px 0;
}

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	@include comp-radius;
	overflow: hidden;
	@include all-borders(true);
	@include btn-shadow;

	img {
		width: 100%;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		@include one-side-border(true, bottom);
	}

	.caption {
		padding: 20px;
		h4 {
			margin-bottom: 0.75rem;
		}
	}
}

.btn {
	@include all-borders(true);
	@include btn-shadow;
	@include comp-radius;
	padding: 16px 0;
	display: block;
	width: 240px;
	text-align: center;
	margin: auto;
	font-size: inherit;
	font-family: "Hack", monospace;
}

.primary {
	background-color: bg-colour($lightgrey);
	color: white;
	position: static;
	top: 0;
	left: 0;
	transition: 300ms ease-in-out;

	&:hover {
		background-color: switch-colour(bg-colour($lightgrey));
	}

	&:active {
		background-color: darken(bg-colour($lightgrey), 25%);
		box-shadow: none;
		transform: translate(8px, 8px);
	}
}

.intro {
	#greetings {
		margin: 0 16px;

		h1 {
			text-align: start;
			margin-bottom: 40px;
		}
	}

	#descr {
		display: flex;
		flex-direction: column;

		h2,
		figure {
			@include one-side-border(true, top);
		}

		h2 {
			padding: 24px 0;
			text-align: center;
		}

		figure {
			order: 3;
		}

		img {
			@include all-borders(true);
			border-radius: 2px;
			display: block;
			width: calc(100vw - 80px);
			height: calc(100vw - 80px);
			object-fit: cover;
			object-position: top;
			margin: 40px auto 0;
		}
	}
}

.projects {
	padding: 40px;

	h1 {
		color: $red;
		margin-bottom: 40px;
	}

	.card-block {
		display: flex;
		flex-direction: column;
		gap: 40px;
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 500px) {
	.dskt-nav {
		display: none;
	}

	/* #mobile-menu {
		display: none;
	}

	.menu-style {
		width: 100vw;
		height: 100vh;
		padding: 16px 40px;
		background-color: var(--darkgrey);
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	} */
}

/* @media only screen and (min-width: 501px) {
	nav > img {
		display: none;
	}

	.dskt-nav {
		list-style-type: none;
	}

	.dskt-nav > li {
		display: inline;
	}
}
 */
