:root {
  font-family: "Hack", monospace;
  font-size: calc(13px + 0.390625vw);
  /* hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Reset default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f5f5;
  cursor: url(../img/cursors/cursor.svg), auto;
  scroll-behavior: smooth;
}

/* Text default styles */
p {
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.025rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.025rem;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.36rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.36rem;
  font-weight: normal;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: 0.025rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: url(../img/cursors/pointer.svg), pointer;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.36rem;
}

input,
label,
textarea {
  cursor: url(../img/cursors/text.svg), text;
}

/* NAV BAR */
nav {
  height: 80px;
  background-color: #f0f5f5;
  border-bottom: 1px solid #1c1719;
  padding: 16px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  font-weight: bold;
}
nav #close-btn {
  display: none;
}

@media screen and (max-width: 600px) {
  .full-nav {
    display: none;
  }
  #mobile-menu {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #1c1719;
    overflow-y: scroll;
    transition: height 300ms ease-in-out;
  }
  #mobile-menu .mobile-nav {
    list-style-type: none;
    width: 100%;
  }
  #mobile-menu .mobile-nav a {
    display: block;
    padding: 40px;
    text-align: center;
    border-top: 1px solid #f0f5f5;
    transition: 300ms ease-in-out;
  }
  #mobile-menu .mobile-nav a:hover {
    background-color: rgba(217, 17, 67, 0.25);
  }
  #mobile-menu .mobile-nav a:active {
    background-color: rgba(217, 17, 67, 0.5);
  }
  #mobile-menu .mobile-nav li:last-of-type a {
    border-bottom: 1px solid #f0f5f5;
  }
  #menu-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 0;
    transition: height 300ms ease-in-out;
    color: white;
  }
  #menu-content #nav-social a {
    margin: 0 12px;
  }
  #menu-content #nav-social a:hover svg path {
    fill: #228582;
  }
  #menu-content #nav-social a:active svg path {
    fill: #2fb6b2;
  }
}
@media only screen and (min-width: 601px) {
  #menu-btn,
  #mobile-menu {
    display: none;
  }
  .full-nav {
    list-style: none;
  }
  .full-nav li {
    display: inline;
    margin-left: 4vw;
    margin-right: -6px;
  }
  .nav-link {
    display: inline-block;
    position: relative;
    padding: 8px 6px;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1c1719;
    transform-origin: bottom center;
    transition: transform 300ms ease-in-out;
  }
  .nav-link:hover {
    font-weight: bold;
  }
  .nav-link:hover::after {
    transform: scaleX(1);
  }
  .nav-link:active {
    color: #2fb6b2;
  }
  .nav-link:active::after {
    background-color: #2fb6b2;
  }
}
/* ---------------------------------------------------------- */
/* BUTTONS */
.btn {
  border: 1px solid #1c1719;
  box-shadow: #1c1719 8px 8px 0;
  border-radius: 8px;
  cursor: url(../img/cursors/pointer.svg), pointer;
  transition: 300ms ease-in-out;
  padding: 16px;
  display: block;
  width: 100%;
  max-width: 240px;
  text-align: center;
  margin: 32px auto;
  font-size: inherit;
  font-family: "Hack", monospace;
}
.btn:active {
  box-shadow: none;
  transform: translate(8px, 8px);
}

.primary-blue {
  background-color: #2fb6b2;
  color: white;
}
.primary-blue:hover {
  background-color: #228582;
}
.primary-blue:active {
  background-color: #15514f;
}

.primary-red {
  background-color: #d91143;
  color: white;
}
.primary-red:hover {
  background-color: #a00d31;
}
.primary-red:active {
  background-color: #63081e;
}

.secondary {
  background-color: #f0f5f5;
  color: black;
}
.secondary:hover {
  background-color: #cbdddd;
}
.secondary:active {
  background-color: #a4c2c2;
}

.icon {
  cursor: url(../img/cursors/pointer.svg), pointer;
  padding: 4px;
  margin-right: -4px;
  border-radius: 8px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
}
.icon:hover svg path {
  stroke: #228582;
}
.icon:active {
  border: 2px solid #2fb6b2;
  margin-right: -6px;
}
.icon:active svg path {
  stroke: #2fb6b2;
}

.icon-text {
  margin: 32px 0;
  max-width: 440px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  gap: 1rem;
  text-align: start;
  overflow-x: hidden;
}
.icon-text img {
  width: 40px;
}
.icon-text:hover {
  background-color: #cbdddd;
}
.icon-text:active {
  background-color: #a4c2c2;
}

/* ---------------------------------------------------------- */
/* FOOTER */
footer {
  background-color: #2fb6b2;
  min-height: 140px;
  text-align: center;
  border-top: 1px solid #1c1719;
}
footer div {
  padding: 40px 0;
}
footer .social a {
  display: inline-block;
  margin: 0 4px;
  padding: 4px 4px 0 4px;
}
footer .social a img {
  width: 40px;
  filter: invert(100%);
}
footer .social a:hover img {
  filter: invert(50%);
  mix-blend-mode: multiply;
}
footer .social a:active img {
  filter: invert(0);
}

@media screen and (max-width: 600px) {
  footer {
    color: white;
    padding: 0 2.5rem;
  }
  footer .cta {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 601px) {
  footer {
    display: flex;
  }
  footer div {
    padding: 0 1.2rem;
  }
  footer .cta {
    background-color: #f0f5f5;
    border-right: 1px solid #1c1719;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60%;
    flex: 1 1 auto;
  }
  footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex: 1 1 10%;
  }
}
/* ---------------------------------------------------------- */
/* CARDS */
.card {
  border: 1px solid #1c1719;
  box-shadow: #1c1719 8px 8px 0;
  border-radius: 8px;
  cursor: url(../img/cursors/pointer.svg), pointer;
  transition: 300ms ease-in-out;
  overflow: hidden;
  min-width: 236px;
  max-width: 100%;
  min-height: 100%;
  background-color: #f0f5f5;
}
.card img {
  opacity: 90%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-bottom: 1px solid #1c1719;
  opacity: 95%;
}
.card .caption {
  padding: 20px 1.4rem;
}
.card h4 {
  margin-bottom: 0.8rem;
}
.card:hover {
  background-color: #cbdddd;
}
.card:hover img {
  filter: none;
}
.card:active {
  box-shadow: none;
  transform: translate(8px, 8px);
  background-color: #a4c2c2;
}
.card:active img {
  filter: brightness(50%);
}

@media only screen and (hover: hover) {
  .card img {
    filter: grayscale(100%) brightness(80%);
    transition: 300ms ease-in-out;
  }
}
@media only screen and (min-width: 601px) and (max-width: 860px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .card img {
    border-bottom: none;
    border-right: 1px solid #1c1719;
    aspect-ratio: none;
    height: 100%;
  }
  .card .caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.presentation {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content;
  min-height: calc(100vh - 200px);
  width: 100%;
  border-bottom: 1px solid #1c1719;
}
.presentation .greetings,
.presentation .about-me,
.presentation .portrait {
  padding: 40px 2.5rem;
}
.presentation .about-me {
  border-top: 1px solid #1c1719;
}
.presentation .hobbies {
  margin-top: -40px;
  height: 5rem;
  width: 100%;
  overflow: hidden;
}
.presentation .hobbies img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.presentation .portrait img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #1c1719;
  border-radius: 2px;
  opacity: 95%;
}

.work {
  background-color: #1c1719;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.work h2 {
  text-align: center;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2fb6b2;
  padding: 16px;
  border-bottom: 1px solid #f0f5f5;
}
.work #graphic {
  background-color: #d91143;
}
.work .skills {
  padding: 40px 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.8rem;
}
.work .skills span {
  text-align: center;
  padding: 1rem 3.3rem;
  border: 1px solid #f0f5f5;
  border-radius: 8px;
}
.work .skills .software {
  border-color: #d91143;
}

.schools {
  min-height: 240px;
  background-color: #1c1719;
  color: white;
  width: 100%;
  text-align: center;
  padding: 40px 1.2rem;
}
.schools h3 {
  margin-bottom: 32px;
}
.schools .uni-logo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.schools .uni-logo img {
  height: 4rem;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

footer {
  border-top: 1px solid #f0f5f5;
}

/* SMALL */
@media only screen and (max-width: 600px) {
  .presentation {
    display: block;
  }
  .presentation figure {
    border-top: 1px solid #1c1719;
  }
  .portrait {
    aspect-ratio: 1/1;
  }
  .portrait img {
    width: 100%;
    object-position: top;
  }
  .skills {
    border-bottom: 1px solid #f0f5f5;
  }
}
/* MEDIUM */
@media only screen and (min-width: 601px) and (max-width: 860px) {
  .greetings {
    grid-column: 1/6;
  }
  .about-me {
    grid-column: 1/9;
  }
  .portrait {
    grid-row: 1/2;
    grid-column: 6/9;
  }
}
/* FROM MEDIUM ON */
@media only screen and (min-width: 601px) {
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .portrait {
    border-left: 1px solid #1c1719;
  }
  .work {
    min-height: fit-content;
    height: 100%;
    border-bottom: 1px solid #f0f5f5;
  }
  .work .role {
    width: 50%;
    min-height: 100%;
  }
  .work .role:last-of-type {
    border-left: 1px solid #f0f5f5;
  }
}
/* LARGE */
@media only screen and (min-width: 861px) {
  .greetings,
  .about-me {
    grid-column: 1/6;
  }
  .portrait {
    grid-column: 6/9;
    grid-row: 1/3;
  }
}