/* GLOBAL */
.card {
  background-color: #f0f5f5;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #1c1719;
  box-shadow: #1c1719 8px 8px 0;
  cursor: pointer;
  position: static;
  top: 0;
  left: 0;
  transition: 300ms ease-in-out;
}
.card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-bottom: 1px solid #1c1719;
}
.card .caption {
  padding: 20px;
}
.card .caption h4 {
  margin-bottom: 0.75rem;
}
.card:active {
  box-shadow: none;
  transform: translate(8px, 8px);
  filter: brightness(75%);
  background-color: #a4c2c2;
}

.btn {
  border: 1px solid #1c1719;
  box-shadow: #1c1719 8px 8px 0;
  border-radius: 8px;
  padding: 16px 0;
  display: block;
  width: 240px;
  text-align: center;
  margin: auto;
  font-size: inherit;
  font-family: "Hack", monospace;
  cursor: pointer;
  position: static;
  top: 0;
  left: 0;
  transition: 300ms ease-in-out;
}
.btn:active {
  box-shadow: none;
  transform: translate(8px, 8px);
}

.primary-blue {
  background-color: #2fb6b2;
  color: white;
}
.primary-blue:hover {
  background-color: #228582;
}
.primary-blue:active {
  background-color: #15514f;
}

.primary-red {
  background-color: #d91143;
  color: white;
}
.primary-red:hover {
  background-color: #a00d31;
}
.primary-red:active {
  background-color: #63081e;
}

.secondary {
  background-color: #f0f5f5;
  color: black;
}
.secondary:hover {
  background-color: #cbdddd;
}
.secondary:active {
  background-color: #a4c2c2;
}

.icon {
  border: none;
  background: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.icon:active {
  background-color: #a4c2c2;
}

:root {
  font-size: calc(15px + 0.390625vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Hack, monospace;
  background-color: #f0f5f5;
  width: 100vw;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.36rem;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.36rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.36rem;
}

p {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NAV */
nav {
  border-bottom: 1px solid #1c1719;
  background-color: #f0f5f5;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
nav span {
  font-weight: bold;
  letter-spacing: 0.16rem;
}

#mobile-menu {
  position: absolute;
  left: calc(100vw + 5px);
}

/* MAIN */
section {
  border-bottom: 1px solid #1c1719;
  padding: 40px 0;
}

/* Section 1 */
.intro #greetings {
  margin: 0 16px;
}
.intro #greetings h1 {
  text-align: start;
  margin-bottom: 40px;
}
.intro #descr {
  display: flex;
  flex-direction: column;
}
.intro #descr h2,
.intro #descr figure {
  border-top: 1px solid #1c1719;
}
.intro #descr h2 {
  padding: 24px 0;
  text-align: center;
}
.intro #descr figure {
  order: 3;
}
.intro #descr img {
  border: 1px solid #1c1719;
  border-radius: 2px;
  display: block;
  width: calc(100vw - 80px);
  height: calc(100vw - 80px);
  object-fit: cover;
  object-position: top;
  margin: 40px auto 0;
}

/* Section 2 */
.projects {
  padding: 40px;
}
.projects h1 {
  color: #d91143;
  margin-bottom: 40px;
}
.projects .card-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

/* Section 3 */
.contact {
  padding: 40px 16px;
  background-color: #2fb6b2;
}
.contact h1 {
  color: white;
  margin-bottom: 40px;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.contact form .question {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact form label {
  color: white;
  font-weight: bold;
  letter-spacing: 0.36rem;
  padding-left: 2px;
}
.contact form input[type=text],
.contact form input[type=email],
.contact form textarea {
  padding: 16px 24px;
  border: 1px solid #1c1719;
  border-radius: 8px;
  background-color: #f0f5f5;
  font-family: inherit;
  font-size: inherit;
}
.contact form button {
  margin-top: 12px;
}

/* FOOTER */
footer {
  background-color: #d91143;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: white;
  padding: 40px 16px;
  text-align: center;
}
footer a {
  margin-right: 24px;
}
footer a:last-of-type {
  margin-right: 0px;
}
footer a:active path {
  fill: #63081e;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 500px) {
  .dskt-nav {
    display: none;
  }
  /* #mobile-menu {
  	display: none;
  }

  .menu-style {
  	width: 100vw;
  	height: 100vh;
  	padding: 16px 40px;
  	background-color: var(--darkgrey);
  	color: white;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  } */
}
@media only screen and (min-width: 501px) {
  .card img {
    filter: grayscale(100%);
  }
  .card:hover {
    background-color: #cbdddd;
  }
  .card:hover img {
    filter: none;
  }
  /* nav > img {
  	display: none;
  }

  .dskt-nav {
  	list-style-type: none;
  }

  .dskt-nav > li {
  	display: inline;
  } */
}