/* GLOBAL */
:root {
	--lightgrey: #f0f5f5;
	--red: #d91143;
	--blue: #2fb6b2;
	--darkgrey: #1c1719;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Hack, monospace;
	background-color: var(--lightgrey);
	font-size: 16px;

	/* TO BE DELETED */
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	text-decoration: none;
}

nav {
	background-color: var(--lightgrey);
	border-bottom: 1px solid var(--darkgrey);
	padding: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
}

nav ul {
	list-style-type: none;
}

nav ul > li {
	display: inline;
}
